# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration
local.properties

# IDE
.idea/
*.iml
.vscode/

# Kotlin/Native
.kotlin/

# OS
.DS_Store
Thumbs.db

# Android
*.apk
*.ap_
*.dex

# Compose Desktop
*.hprof
